.name{
    display: flex;
    justify-content: space-between;
}
.last-name{
   flex-basis: 45%;
}  
.firt-name{
    flex-basis: 45%;
   
}
.form-input{
    box-sizing: border-box;
    width: 100%;
    padding:2%;
}
.form_liste{
    width: 100%;
    height: 50px;
}
#form{
    margin-left:20%;
    margin-right: 20%;
}
#mes{
    width: 100%;
    box-sizing: border-box;
}
.envoyer{
    display: flex;
    justify-content: center;
}
button{
    background-color: blueviolet;
    padding: 1%;
}
h1,p{
    text-align: center;
}
body{
    background-color: darkgoldenrod;
    margin: 0;
}
@media screen and (max-width:800px) {
    body{
        font-size: 20px;
        width: 30%;
        margin-left: 0%;
      
        
    }
}
.body-head{
    background-color: white;
}
nav{
   
    height: 80px;
}
.image{
    padding-top: 0%;
}
ul{
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}
li a{
    color: rgb(9, 10, 10);
    text-decoration: none;
    padding: 20px;
    
}
li{
    float: left;
    font-size: x-large;
}
.nav-droit,.nav-right{
    float: right;
    padding-top: 2%;
    padding-right: 2%;
}
footer{
    text-align: center;
    padding-top: 7%;
}